@-webkit-keyframes GradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes GradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes GradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    270deg,
    #5e8596,
    #829ea9,
    #b06673,
    #ce6e70,
    #7f5468
  );
  background-size: 1000% 1000%;
  -webkit-animation: GradientAnimation 30s ease infinite;
  -moz-animation: GradientAnimation 30s ease infinite;
  animation: GradientAnimation 30s ease infinite;
}
